body {
    font-family: Arial, sans-serif;
    background-color:#343a40 ;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #8d9294;
    box-shadow: 0 4px 8px rgba(9, 120, 238, 0.1);
}
.jumbotron {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.jumbotron h1 {
    margin: 0;
    font-size: 36px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: rgb #0979f8;
    font-weight: bold;
}
nav ul li a:hover {
    color: #1935ee;
}

img {
    width: 100%;
    max-height: 300px;
    margin: 20px 0;
}
#Cadastro {
    width: 700px;
    margin: 0 auto;
    background-color: #fafafa;
    padding: 25px;
    border-radius: 22px;
    box-shadow: 0 2px 5px rgba(254, 255, 255, 0.1);
}
#Cadastro h2 {
    text-align: center;
    color: #272727;
}
form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
form label {
    font-weight: bold;
    margin-bottom: 5px;
}
form input, form select {
    padding: 10px;
    border: 1px solid #353a3b;
    border-radius: 5px;
    width: 100%;
}
form input[type="radio"] {
    width: auto;
}
.genero-options {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
button {
    padding: 10px;
    background-color: #124b8c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #043950;
}
.contact-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contact-links li {
    margin: 0 10px;
}
.contact-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.contact-links li a:hover {
    color: #79d0f5;
}
.carousel-container {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;

}

.carousel-slide img {
    width: 100%;
    display: none; 
    object-fit: cover;
    
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
