body {
    font-family: Arial, sans-serif;
    background-color: rgb(214, 214, 214);
    margin-top: 0px;
    padding-top: 0px;
    /* Mantém a cor de fundo que você já utilizou */
}

header {
    background-color: #343a40;
    /* Mesma cor de fundo do primeiro header */
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.nav-item .nav-link {
    color: rgb(0, 0, 0);
}

.nav-item .nav-link:hover {
    color: #0717ff;
    /* Adiciona um efeito hover opcional */
}

table {
    border: 3px solid #ededed;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 3px;
}

.titulo{
    color: bisque;
    font-family: arial;
    background-color: rgb(95, 94, 94);
    text-align: center;
}

p{
    font-size: 15px;
    text-align: justify;
    font-family: Verdana, sans-serif;
}

th{
    background-color: #ededed;
    border-radius: 10px;
}

body{
    padding: 150px;
}

.carousel-inner img {
    width: 100% !important;
        height: 300px !important;
        /* Altura fixa */
        object-fit: cover !important;
        border-radius: 15px !important;
   
    object-fit: cover;

}

.evento{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.cardConteudo{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.card-img-top {
    width: 100%; 
    height: 140px;
    object-fit: cover; 
    border-radius: 15px;
    border: 3px solid black;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.carousel-inner img {
    width: 100%;
    height: 300px;
    /* Defina a altura que deseja */
    object-fit: cover;
    /* Ajusta a imagem para cobrir toda a área do carrossel */
    border-radius: 15px;
}
/* Estilo para o cabeçalho com logo */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.logo-text {
    font-size: 1.5em;
    font-weight: bold;
    color: #d32f2f;
    /* Cor do texto do logo */
    margin: 0;
}